<div
  class='relative z-0 aspect-video w-full min-w-[380px] max-w-md bg-fuchsia-700 shadow-md shadow-black/20'
>
  <!-- bg contrast -->
  <div class='absolute bottom-0 left-0 h-1/2 w-full bg-white'></div>

  <!-- discount -->
  <div class='absolute left-12 top-1/2 aspect-square w-2/5 -translate-y-1/2'>
    <!-- circle -->
    <div
      class='h-full w-full rounded-full border-8 border-white bg-fuchsia-700 outline outline-2 outline-offset-8 outline-white'
    >
    </div>
    <!-- text container -->
    <div
      class='absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-center text-white'
    >
      <div class='flex'>
        <div>
          <h2 class='text-3xl font-bold uppercase'>Ahorra</h2>
          <p class='pl-4 text-4xl font-semibold'>10%</p>
        </div>
        <p class='text-7xl text-white'>!</p>
      </div>
    </div>
  </div>

  <!-- dotted -->
  <div class='absolute left-2 flex h-full w-0 flex-col gap-2 py-2'>
    <div class='h-1/2 border-r-8 border-dotted border-white py-2'></div>
    <div class='h-1/2 border-r-8 border-dotted border-fuchsia-700'></div>
  </div>

  <!-- title -->
  <div class='absolute right-4 top-1/4 -translate-y-1/2'>
    <div class='uppercase text-white'>
      <p class='text-4xl font-normal'>Cupon de</p>
      <p class='text-4xl font-semibold'>descuento</p>
    </div>
  </div>

  <div class='absolute bottom-1/4 right-4 translate-y-1/2'>
    <div class='uppercase text-fuchsia-700'>
      <p class='text-xl font-normal'>En nuestras</p>
      <p class='text-xl font-semibold'>tiendas asociadas</p>
    </div>
  </div>
</div>
