---
interface Props {
  class?: string
}

const { class: className } = Astro.props

const images = [
  {
    imageUrl:
      'https://th.bing.com/th/id/R.abb5e2f3a89fe5f1871d9e13555a4cfb?rik=Gw6033iUygmZPQ&riu=http%3a%2f%2fcdn.marketing4ecommerce.net%2fwp-content%2fuploads%2f2017%2f01%2f02204956%2fqu%c3%a9-es-una-imagen-vectorial.jpg&ehk=HTmTsIAUN71R1e1kAp3MB6q0dm57GQVLk2TwmRfmuds%3d&risl=&pid=ImgRaw&r=0',
    text: 'Texto 1',
  },
  {
    imageUrl:
      'https://yt3.ggpht.com/ytc/AMLnZu8Z87u4CxLu-ZsGho99zTwcrUCvV396yBasNaEV=s900-c-k-c0x00ffffff-no-rj',
    text: 'Texto 2',
  },
  {
    imageUrl:
      'https://img.freepik.com/premium-photo/artistic-wolf-head-drawing-beautiful-abstract-wolf-generative-ai_751108-4547.jpg',
    text: 'Texto 3',
  },
]
---

<div
  class='relative z-0 h-screen w-full overflow-hidden'
  class:list={[className]}
>
  <div class='animation absolute left-0 top-0 w-full'>
    {images.map(({ imageUrl, text }) => (
      <div class="relative z-0">
        <div class="overflow-hidden">
          <div
            style={`background-image: url(${imageUrl});`}
            class="zoom-in-anim h-screen w-full bg-cover bg-center bg-no-repeat"
          />
        </div>
        <span class="absolute left-0 top-0 h-full w-full bg-slate-950/40" />
        <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
          <h2 class="text-center text-5xl font-bold uppercase text-white">
            {text}
          </h2>
        </div>
      </div>
    ))}
  </div>
</div>

<style>
  .animation {
    animation: slide-up 15s steps(3) infinite, fade-in-out 5s linear infinite;
  }

  .zoom-in-anim {
    animation: zoom-in 5s linear infinite;
  }

  @keyframes slide-up {
    to {
      top: -300vh;
    }
  }
  @keyframes fade-in-out {
    from {
      opacity: 0%;
    }
    15%,
    85% {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }
  @keyframes zoom-in {
    to {
      scale: 115%;
    }
  }
</style>
